POSTGRES_PORT=tcp://127.0.0.1:5432
POSTGRES_DATABASE=chat_development
POSTGRES_USER=user
POSTGRES_PASSWORD=pass
RABBITMQ_PORT=tcp://127.0.0.1:5672
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest
RABBITMQ_VHOST=/
WEB_PORT=tcp://127.0.0.1:5000
SOCKET_1_PORT=tcp://127.0.0.1:5000
SOCKET_2_PORT=tcp://127.0.0.1:5000
