var actions = {};

actions['index'] = function() {
    console.log('index');
}

actions['room'] = function() {
    var uri       = "<%= @websocket_uri %>/?token=<%= @room_user.token %>";
    var ws        = new WebSocket(uri);

    ws.onopen = function(event) {
        console.log(event);
    }

    ws.onevent = function(event) {
        console.log(event);

        var f = $('#chat-text');
        var text = "";
        var msg = JSON.parse(event.data);
        var time = new Date(msg.created_at);
        var timeStr = time.toLocaleTimeString();

        switch(msg.type) {
            case "user_message":
                text = "(" + timeStr + ") <b>" + msg.user_id + " (private)</b>: " + msg.body + "<br>";
                break;
            case "room_message":
                text = "(" + timeStr + ") <b>" + msg.user_id + "</b>: " + msg.body + "<br>";

                break;
            case "userlist":
                var ul = "";
                for (i=0; i < msg.users.length; i++) {
                    ul += msg.users[i] + "<br>";
                }
                document.getElementById("userlistbox").innerHTML = ul;
                break;
        }

        if (text.length) {
            f.append("<div class='panel panel-default'><div class='panel-heading'>" + data.handle + "</div><div class='panel-body'>" + text + "</div></div>");
            f.stop().animate({
                scrollTop: f[0].scrollHeight
            }, 800);
        }
    };

    ws.onclose = function(event) {
        console.log(event);
    };

    ws.onerror = function(event) {
        console.log(event);
    };

    $("#input-form").on("submit", function(event) {
        event.preventDefault();
        var handle = $("#input-handle")[0].value;
        var text   = $("#input-text")[0].value;
        ws.send(JSON.stringify({ handle: handle, text: text }));
        $("#input-text")[0].value = "";
    });
}

$(document).ready(function() {
    var actionName = $('body').data('action');
    if (actions[actionName]) {
        actions[actionName]();
    }
});
